* {
  box-sizing: border-box;
}

body {
    font-family: 'Amatic SC';font-size: 22px;
}

.excercise{
    border: dotted #5C9129;
    float: left;
    width: 40%;

    margin: 70px;
    text-align: center;
    border-radius: 25px;
    padding: 20px;
}





.excercise-container{
    display: flex;
    flex-wrap: wrap;

}