/*1. COLOR PALETTE: */
/* #538723 base green */
/* #5C9129 lighter green */
/* #8BBF58 even lighter green */
/* #B2C7A3 pale green i guess */
/* #993166 freakin purple, man */
/* #000000 as black as it gets */
/* #FFDE59 yellowish*/
/* #D62828 red?*/


/*2. Font*/
/*heading, amatic sc*/
/*Subheading, Lato*/
/*Body Text, Lato Bold*/

h1, h2 {
    font-family: 'Amatic SC', cursive;
}

h3 h4 h5 h6 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

body {
    font-family: 'Lato', sans-serif;
}

.blacklink {
    text-decoration: none;
    color: #000000;
}

.student-card .row {
    width: 28vw;
    height: 28vh;
}

.column {
    position: relative;
    top: 12%;
    text-align: center;
    float: left;
    width: 30vw;
    height: 27vh;
    background-image: url("/static/images/math.jpg");
    margin: 15px;
    padding: 5px;
    border-radius: 20px;
}

.green-background {
    width: 99vw;
    height: 90vh;
    background: #5C9129;
}

.student-card-small {
    position: relative;
    top: 3%;
    float: top;
    background-image: url("/static/images/math.jpg");
    width: 4vw;
    height: 4vh;
    margin: 15px;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}

.matching-game {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 20px;
    background-image: url("/static/images/math.jpg");
    align-content: stretch;
}

.image-container {
    background: #8BBF58;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 0.2fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 30px;
    justify-items: center;
}

.flashcard {
    justify-content: center;
    border-radius: 10px;
    width: 300px;
    height: 200px;
}

.flashcard-container {
    position: relative;
}

.flashcard-active {
    /*width: 350px;*/
    /*height: 238px;*/
    /*border-radius: 10px;*/
    border-style: groove;
    border-color: #993166;
    border-width: thick;
}

.word-container {
    background: white;
    text-align: center;
    padding: 20px;
    grid-gap: 20px;
    grid-row-gap: 30px;
}

.marked-green {
    color: #5C9129;
    font-size: x-large;
}

.marked-purple {
    color: #993166;
    font-size: x-large;
}

.tick {
    width: 35px;
    height: auto;
    position: absolute;
    bottom: 7%;
    right: 3%;
}

li {
    font-size: larger;
}

li:not(:last-child) {
    margin-bottom: 65px;
}

#theme {
    margin-bottom: 95px;
    font-size: xxx-large;
}