<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profilom</title>
</head>
<body>
<form action="/profile">
  <label for="name">Nevem:</label>
  <input type="text" id="name" name="name"><br><br>
  <label for="birthday">Születési időm:</label>
<!--    TODO: birthday column for amigo table?! -->
  <input type="date" id="birthday" name="birthday"><br><br>
  <label for="password">Jelszavam:</label>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit"  value="Adataim módosítása">
</form>
</body>
</html>