{% extends 'template.html' %}
{% block title %} Szövegértés {% endblock %}
{% block head %}
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/comprehensive-reading.css"/>
<link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
<script src="/static/js/comprehensiveUpload.js" defer></script>
{% endblock %}
{% block content %}

<div class="container">
    <div class="text-container">
        <form id="text-form">
            <input type="text" name="theme" placeholder="Téma" id="theme">
            <textarea type="text" name="text" placeholder="Másold ide a szöveget" id="long-text" maxlength="10000"></textarea>
        </form>
    </div>
    <div class="question-container">
        <form>
            <input type="text" class="questions" placeholder="Itt tehetsz fel kérdéseket" id="fixed">
            <input type="button" value="Új kérdés hozzáadása" id="button" class="submit">
            <input type="submit" name="submit" value="Mentés" id="submit" class="submit">
        </form>
    </div>
</div>
{% endblock %}