<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/excercises.css"/>
    <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
    <script src="/static/js/excercises.js" defer></script>
    <meta charset="UTF-8">
    <title>Feladataim</title>
</head>
<body>
<div>
    <div class="excercise" id="memory-game">Memória játék</div>
<div class="excercise">Összekötő játék</div>
<div class="excercise">Hallgatás</div>
<div class="excercise">Olvasás</div>

</div>

</body>
</html>