<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/exercises.css"/>
    <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
    <script src="/static/js/exercises.js" defer></script>
    <meta charset="UTF-8">
    <title>Feladataim</title>
</head>
<body>
<div>
    <div class="exercise" id="memory-games">Memória játék</div>
    <div class="exercise" id="matching-games">Összekötő játék</div>
    <div class="exercise" id="listening-games">Hallgatás</div>
    <div class="exercise" id="comprehensive-readings">Olvasás</div>
    <div class="exercise" id="sorting-games">Kategória választó</div>
    <div class="exercise" id="filling-games">Kiegészítés</div>
</div>

</body>
</html>