<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Értékelés</title>
    <link href="../static/style/feedback.css" rel='stylesheet'>
    <link href="../static/style/navigation.css" rel='stylesheet'>
    <title> Értékelés </title>
</head>
<body>
{% include "navigation.html" %}

<section class="main">
    <form action="/feedback/{{student_id}}" method="post">
        <label for="title">Tárgy:</label>
        <input type="text" id="title" name="title">
        <label for="feedback">Értékelés:</label>
        <textarea type="text" id="feedback" name="feedback"></textarea>

        <button type="submit">Küldés</button>
    </form>


</section>


</body>
</html>