<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kiegészítés</title>
    <link rel="stylesheet" href="../static/main.css"/>
    <link rel="stylesheet" href="../static/style/filling-game.css"/>
    <link rel="stylesheet" href="../static/style/navigation.css"/>
</head>
<body>
{% include "navigation.html" %}
<div class="circle1"></div>
<div class="circle2"></div>


<button id="save"> Beküldés</button>

<section class="filling-gaps" id="{{game_id}}">
    <div class="container-card">

        <h2 id="theme"></h2>
        <div class="filling-container"></div>

    </div>

</section>

<script type="module" src="/static/js/fillingGame.js"></script>
</body>
</html>