{% extends 'template.html' %}
{% block title %} Llamigos para los niños {% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block content %}


    <div class="green-background">

        <div class="card">
            <p>egyes</p>
        </div>

        <div class="card">
            <p>kettes</p>
        </div>

        <div class="card">
            <p>hármas</p>
        </div>

        <div class="card">
            <p>négyes</p>
        </div>

        <div class="card">
            <p>ötös</p>
        </div>

        <div class="card">
            <p>hatos</p>
        </div>
    </div>






{% endblock %}