{% extends 'template.html' %}
{% block title %} Párosítás {% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block content %}
<div class="matching-game-container">
    <div class="word-container">
        <h1 id="theme">{{ theme | title }}</h1>
        <ul>
            {% for d in data %}
            <li class="words-to-match" id="{{ d[1] }}">{{ d[1] | title }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="image-container">
        {% for d in data %}
        <div id="{{ d[0] }}" class="flashcard-container">
            <img class="flashcard images-to-match" src="/static/{{ d[0] }}" data-word="{{ d[1]}}">
        </div>
        {% endfor %}
    </div>
</div>
</div>
<script src="/static/js/matchingGame.js"></script>
{% endblock %}