<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matching game</title>
    <link rel="stylesheet" href="../static/main.css"/>
</head>
<body>
<div class="circle1"></div>
<div class="circle2"></div>
<div class="stopper">
    <div id="stopper-display">
        00:00
    </div>
    <button class="stop"> Beküldés</button>
</div>
<h2 class="theme"></h2>
<section class="matching-game" id="{{game_id}}">
    <div class="word-container">

    </div>

    <div class="image-container">

    </div>
</section>

<script  type="module" src="/static/js/matchingGame.js"></script>
<script src="../static/js/matching-stopper.js"></script>
</body>
</html>