<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memória játék feltöltés</title>
    <script src="../static/js/memoryGameSaver.js" defer></script>
</head>
<body>
<label for="theme"> Téma: </label>
<input type="text" id="theme" name="theme"><br><br>

<label for="fileId"> Kép: </label>
<input type="file" name="" id="fileId" class="image"><br><br>
<label for="text"> Szöveg: </label>
<input type="text" id="text" class="text" name="text"><br><br>


<button id="save">
   Mentés
</button>
</body>
</html>