<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/exercises.css"/>
    <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
    <script src="/static/js/exercises.js" defer></script>
    <meta charset="UTF-8">
    <title>Feladataim</title>
</head>
<body>
<div>
    <div class="exercise" id="memory-game-upload">Memória játék</div>
    <div class="exercise" id="matching-game-upload">Összekötő játék</div>
    <div class="exercise" id="listening-game-upload">Hallgatás</div>
    <div class="exercise" id="comprehensive-reading-upload">Olvasás</div>
     <div class="exercise" id="sorting-game-upload">Kategória választó</div>
</div>

</body>
</html>