<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feladat küldés</title>
    <link href="/static/style/send.css" rel='stylesheet'>
    <script type="module" src="{{ url_for('static', filename='js/sendTask.js') }}"  defer></script>
</head>
<body>

{#<div class="">#}
{#<section>#}
<div class="search-bar">
    <h3>Nyelv: </h3>
    <input type="text" id="search_language">
    <h3>E-mail: </h3>
    <input type="text" id="search_email">
    <h3>Születési dátum: </h3> <br>
    <input type="text" id="search_bday">
{#    <input type="text" id="max-year">#}
</div>
<div class="search-bar">
    <table id="container">

    </table>

</div>

{#</section>#}
{#</div>#}

<button class="send" id="/send/{{game_type}}/{{game_id}}"> Küldés </button>
<script type="module" src="/static/js/searchStudents.js" ></script>
</body>
