<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feladat küldés</title>
    <link href="../static/style/send.css" rel='stylesheet'>
</head>
<body>

{#<div class="">#}

{#<section>#}

<div class="search-bar">
    <h3>Nyelv: </h3>
    <input type="text" id="search_language">
    <h3>E-mail: </h3>
    <input type="text" id="search_email">
</div>

<div class="search-bar">
    <table id="container">

    </table>

</div>

{#</section>#}
{#</div>#}

<button class="send" id="/solutions"> Küldés </button>


<script src="/static/js/sendTask.js" ></script>
<script src="/static/js/list_students.js" ></script>
</body>
