{% extends 'template.html' %}
{% block title %} Húzd és dobd! {% endblock %}
{% block head %}
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/sorting-game.css"/>
<link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
<script src="/static/js/sortingGame.js" defer></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="word-container">
        {% for word in words %}
        <p class="words" draggable="true">{{ word }}</p>
        {% endfor %}
    </div>

    <div class="theme-container">
        {% for theme in themes %}
        <div class="theme-card">{{ theme }}</div>
        {% endfor %}
    </div>
</div>
{% endblock %}